#content > .ux_banner .inner-wrap.animated,
#facebook-login .animated,
.columns .ux_banner .inner-wrap.animated,
.columns > .animated,
.current .animated,
.entry-content .animated,
.start-anim .animated,
.start-anim.animated,
.start-anim.animated .animated,
html[data-useragent*='MSIE 10.0'] .animated,
html[data-useragent*='Mozilla/5.0'] .animated
{
    -webkit-animation-duration: 1s;
        -ms-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: .3s;
            animation-delay: .3s;

    -webkit-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
            animation-fill-mode: both;
}

.inner-wrap .animated:nth-of-type(0),
.row > .columns:nth-of-type(0),
.scroll-to-bullets a:nth-of-type(0)
{
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.inner-wrap .animated:nth-of-type(1),
.row > .columns:nth-of-type(1),
.scroll-to-bullets a:nth-of-type(1)
{
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
}

.inner-wrap .animated:nth-of-type(2),
.row > .columns:nth-of-type(2),
.scroll-to-bullets a:nth-of-type(2)
{
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}

.inner-wrap .animated:nth-of-type(3),
.row > .columns:nth-of-type(3),
.scroll-to-bullets a:nth-of-type(3)
{
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
}

.inner-wrap .animated:nth-of-type(4),
.row > .columns:nth-of-type(4),
.scroll-to-bullets a:nth-of-type(4)
{
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
}

.inner-wrap .animated:nth-of-type(5),
.row > .columns:nth-of-type(5),
.scroll-to-bullets a:nth-of-type(5)
{
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

.inner-wrap .animated:nth-of-type(6),
.row > .columns:nth-of-type(6),
.scroll-to-bullets a:nth-of-type(6)
{
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

.inner-wrap .animated:nth-of-type(7),
.row > .columns:nth-of-type(7),
.scroll-to-bullets a:nth-of-type(7)
{
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
}

.inner-wrap .animated:nth-of-type(8),
.row > .columns:nth-of-type(8),
.scroll-to-bullets a:nth-of-type(8)
{
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}

.scroll-animate
{
    opacity: 0;
}

#facebook-login .inner.animated,
.lt-ie9 .animated
{
    opacity: 1 !important;
}

@-webkit-keyframes flipInX
{
    0%
    {
        -webkit-transform: perspective(400px) rotateX(90deg);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: perspective(400px) rotateX(0deg);

        opacity: 1;
    }
}
@keyframes flipInX
{
    0%
    {
        -webkit-transform: perspective(400px) rotateX(90deg);
                transform: perspective(400px) rotateX(90deg);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: perspective(400px) rotateX(0deg);
                transform: perspective(400px) rotateX(0deg);

        opacity: 1;
    }
}
.flipInX
{
    -webkit-animation-name: flipInX;
    -webkit-animation-name: flipInX;
       -moz-animation-name: flipInX;
         -o-animation-name: flipInX;
            animation-name: flipInX;

    -webkit-backface-visibility: visible !important;
       -moz-backface-visibility: visible !important;
         -o-backface-visibility: visible !important;
    -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
}

@-webkit-keyframes flipInY
{
    0%
    {
        -webkit-transform: perspective(400px) rotateY(60deg);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: perspective(400px) rotateY(0deg);

        opacity: 1;
    }
}
@keyframes flipInY
{
    0%
    {
        -webkit-transform: perspective(400px) rotateY(60deg);
                transform: perspective(400px) rotateY(60deg);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: perspective(400px) rotateY(0deg);
                transform: perspective(400px) rotateY(0deg);

        opacity: 1;
    }
}
.flipInY
{
    -webkit-animation-name: flipInY;
    -webkit-animation-name: flipInY;
       -moz-animation-name: flipInY;
         -o-animation-name: flipInY;
            animation-name: flipInY;

    -webkit-backface-visibility: visible !important;
       -moz-backface-visibility: visible !important;
         -o-backface-visibility: visible !important;
    -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
}

@-webkit-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.fadeIn
{
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp
{
    0%
    {
        -webkit-transform: translateY(10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}
@keyframes fadeInUp
{
    0%
    {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}
.fadeInUp
{
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown
{
    0%
    {
        -webkit-transform: translateY(-10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}
@keyframes fadeInDown
{
    0%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}
.fadeInDown
{
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft
{
    0%
    {
        -webkit-transform: translateX(-10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
@keyframes fadeInLeft
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}
.fadeInLeft
{
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight
{
    0%
    {
        -webkit-transform: translateX(10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
@keyframes fadeInRight
{
    0%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}
.fadeInRight
{
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUpBig
{
    0%
    {
        -webkit-transform: translateY(2000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}
@keyframes fadeInUpBig
{
    0%
    {
        -webkit-transform: translateY(2000px);
                transform: translateY(2000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}
.fadeInUpBig
{
    -webkit-animation-name: fadeInUpBig;
            animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInLeftBig
{
    0%
    {
        -webkit-transform: translateX(-2000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
@keyframes fadeInLeftBig
{
    0%
    {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}
.fadeInLeftBig
{
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig
{
    0%
    {
        -webkit-transform: translateX(2000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
@keyframes fadeInRightBig
{
    0%
    {
        -webkit-transform: translateX(2000px);
                transform: translateX(2000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}
.fadeInRightBig
{
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
}

@-webkit-keyframes bounceIn
{
    0%
    {
        -webkit-transform: scale(1.5);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: scale(1);

        opacity: 1;
    }
}
@keyframes bounceIn
{
    0%
    {
        -webkit-transform: scale(.3);
                transform: scale(.3);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;
    }
}
.bounceIn
{
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
}

@-webkit-keyframes bounceInUp
{
    0%
    {
        -webkit-transform: translateY(2000px);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}
@keyframes bounceInUp
{
    0%
    {
        -webkit-transform: translateY(2000px);
                transform: translateY(2000px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}
.bounceInUp
{
    -webkit-animation-name: bounceInUp;
            animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown
{
    0%
    {
        -webkit-transform: translateY(-2000px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translateY(30px);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: translateY(-10px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}
@keyframes bounceInDown
{
    0%
    {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
}
.bounceInDown
{
    -webkit-animation-name: bounceInDown;
            animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft
{
    0%
    {
        -webkit-transform: translateX(-2000px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translateX(30px);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: translateX(-10px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
@keyframes bounceInLeft
{
    0%
    {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}
.bounceInLeft
{
    -webkit-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight
{
    0%
    {
        -webkit-transform: translateX(2000px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translateX(-30px);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: translateX(10px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
@keyframes bounceInRight
{
    0%
    {
        -webkit-transform: translateX(2000px);
                transform: translateX(2000px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translateX(-30px);
                transform: translateX(-30px);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
}
.bounceInRight
{
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
}

@-webkit-keyframes rotateInUpLeft
{
    0%
    {
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: left bottom;

        opacity: 0;
    }
    100%
    {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: left bottom;

        opacity: 1;
    }
}
@keyframes rotateInUpLeft
{
    0%
    {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;

        opacity: 0;
    }
    100%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;

        opacity: 1;
    }
}
.rotateInUpLeft
{
    -webkit-animation-name: rotateInUpLeft;
            animation-name: rotateInUpLeft;
}

@-webkit-keyframes rotateInUpRight
{
    0%
    {
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin: right bottom;

        opacity: 0;
    }
    100%
    {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: right bottom;

        opacity: 1;
    }
}
@keyframes rotateInUpRight
{
    0%
    {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom;

        opacity: 0;
    }
    100%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom;

        opacity: 1;
    }
}
.rotateInUpRight
{
    -webkit-animation-name: rotateInUpRight;
            animation-name: rotateInUpRight;
}

@-webkit-keyframes rotateInDownRight
{
    0%
    {
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: right bottom;

        opacity: 0;
    }
    100%
    {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: right bottom;

        opacity: 1;
    }
}
@keyframes rotateInDownRight
{
    0%
    {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom;

        opacity: 0;
    }
    100%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom;

        opacity: 1;
    }
}
.rotateInDownRight
{
    -webkit-animation-name: rotateInDownRight;
            animation-name: rotateInDownRight;
}
