/*
Theme Name: Twenty Fifteen
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Caption
 * 6.0 - Galleries
 * 7.0 - Audio / Video
 * 8.0 - RTL
 * 9.0 - Media Queries
 */


/**
 * 1.0 Body
 */

body
{
    font-family: 'Noto Serif', serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6471;

    max-width: 660px;
    margin: 20px 40px;

    vertical-align: baseline;

    color: #333;
}


/**
 * 2.0 Typography
 */

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 700;

    clear: both;

    margin: 56px 0 28px;
}

h1
{
    font-size: 35px;
    line-height: 1.2308;
}

h2
{
    font-size: 29px;
    line-height: 1.2069;
}

h3
{
    font-size: 24px;
    line-height: 1.1667;
}

h4
{
    font-size: 20px;
    line-height: 1.4;
}

h5,
h6
{
    font-size: 17px;
    line-height: 1.2353;

    letter-spacing: .1em;
    text-transform: uppercase;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
    margin-top: 0;
}

p
{
    margin: 0 0 28px;
}

b,
strong
{
    font-weight: 700;
}

dfn,
cite,
em,
i
{
    font-style: italic;
}

blockquote
{
    font-size: 20px;
    font-style: italic;
    line-height: 1.8182;

    margin: 0 0 35px -21px;
    padding-left: 17px;

    color: #707070;
    border-left: 4px solid #707070;
}

blockquote > blockquote
{
    margin-left: 0;
}

blockquote p
{
    margin-bottom: 35px;
}

blockquote > p:last-child
{
    margin-bottom: 0;
}

blockquote cite,
blockquote small
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    line-height: 1.6471;

    color: #333;
}

blockquote em,
blockquote i,
blockquote cite
{
    font-style: normal;
}

blockquote strong,
blockquote b
{
    font-weight: 400;
}

address
{
    font-style: italic;

    margin: 0 0 28px;
}

code,
kbd,
tt,
var,
samp,
pre
{
    font-family: Inconsolata, monospace;
}

pre
{
    font-size: 17px;
    line-height: 1.2353;

    overflow: auto;

    max-width: 100%;
    margin-bottom: 28px;
    padding: 14px;

    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;

    border: 1px solid #eaeaea;
    background-color: #fcfcfc;
}

abbr[title]
{
    cursor: help;

    border-bottom: 1px dotted #eaeaea;
}

mark,
ins
{
    text-decoration: none;

    background-color: #fff9c0;
}

sup,
sub
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    height: 0;

    vertical-align: baseline;
}

sup
{
    bottom: 1ex;
}

sub
{
    top: .5ex;
}

small
{
    font-size: 75%;
}

big
{
    font-size: 125%;
}


/**
 * 3.0 Elements
 */

hr
{
    height: 1px;
    margin-bottom: 28px;

    border: 0;
    background-color: #eaeaea;
}

ul,
ol
{
    margin: 0 0 28px 0;
    padding: 0;
}

ul
{
    list-style: disc;
}

ol
{
    list-style: decimal;
}

li > ul,
li > ol
{
    margin: 0 0 0 23px;
}

dl
{
    margin: 0 0 28px;
}

dt
{
    font-weight: bold;
}

dd
{
    margin: 0 0 28px;
}

table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td
{
    border: 1px solid #eaeaea;
}

table a
{
    color: #333;
}

table,
.mce-item-table
{
    width: 100%;
    margin: 0 0 28px;

    border-spacing: 0;
    border-collapse: separate;

    border-width: 1px 0 0 1px;
}

table th,
.mce-item-table th,
table caption
{
    font-family: 'Noto Serif', serif;
    font-size: 17px;
    font-weight: 700;

    padding: 7px;

    text-align: left;
    vertical-align: baseline;

    border-width: 0 1px 1px 0;
}

table td,
.mce-item-table td
{
    font-family: 'Noto Serif', serif;
    font-size: 17px;

    padding: 7px;

    vertical-align: baseline;

    border-width: 0 1px 1px 0;
}

img
{
    max-width: 660px;
    height: auto;

    vertical-align: middle;

    border: 0;
}

figure
{
    margin: 0;
}

del
{
    opacity: .8;
}

a
{
    text-decoration: none;

    color: #333;
    border-bottom: 1px solid #333;
}


/**
 * 4.0 Alignment
 */

.alignleft
{
    float: left;

    margin: 7px 28px 28px 0;
}

.alignright
{
    float: right;

    margin: 7px 0 28px 28px;
}

.aligncenter
{
    display: block;
    clear: both;

    margin: 7px auto;
}


/**
 * 5.0 Caption
 */

.wp-caption
{
    font-family: 'Noto Sans', sans-serif;

    max-width: 660px;
    margin: 0 0 28px 0;
    padding: 0;

    text-align: inherit;

    color: #707070;
    border: none;
    background: transparent;
}

.wp-caption.alignleft
{
    margin: 7px 28px 21px 0;
}

.wp-caption.alignright
{
    margin: 7px 0 21px 28px;
}

.wp-caption.aligncenter
{
    margin: 7px auto;
}

.wp-caption .wp-caption-text,
.wp-caption-dd
{
    font-size: 14px;
    line-height: 1.5;

    padding: 7px 0;
}


/**
 * 6.0 Galleries
 */

.gallery-item
{
    display: inline-block;

    width: 100%;
    padding: 1.79104477%;

    text-align: center;
    vertical-align: top;
}

.gallery-columns-2 .gallery-item
{
    max-width: 50%;
}

.gallery-columns-3 .gallery-item
{
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item
{
    max-width: 25%;
}

.gallery-columns-5 .gallery-item
{
    max-width: 20%;
}

.gallery-columns-6 .gallery-item
{
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item
{
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item
{
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item
{
    max-width: 11.11%;
}

.gallery .gallery-caption
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    display: block;

    padding: 7px 0;

    color: #707070;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption
{
    display: none;
}


/**
 * 7.0 Audio / Video
 */

.mce-content-body .wpview-wrap
{
    margin-bottom: 32px;
}

.mce-content-body .wp-audio-playlist
{
    margin: 0;
}


/**
 * 8.0 RTL
 */

body.rtl
{
    font-family: Arial, Tahoma, sans-serif;
}

.rtl blockquote
{
    margin: 0 -21px 35px 0;
    padding-right: 17px;
    padding-left: 0;

    border-right: 4px solid #707070;
    border-left: none;
}

.rtl blockquote > blockquote
{
    margin-right: 0;
    margin-left: auto;
}

.rtl li > ul,
.rtl li > ol
{
    margin: 0 23px 0 0;
}

.rtl table th,
.rtl table caption
{
    text-align: right;
}


/**
 * 9.0 Media Queries
 */

@media screen and (max-width: 740px)
{
    body,
    img,
    .wp-caption
    {
        max-width: 100%;
    }

    img,
    .wp-caption
    {
        width: auto !important;
    }
}
