body
{
    font-family: Helvetica,Arial,Sans-serif;
}
.uppercase
{
    text-transform: uppercase;
}
.alt-font
{
    font-family: Georgia,Serif;font-style: italic;
}
p.lead
{
    font-size: 150%;
}
p.lead.text-center
{
    text-align: center;
}
.text-pull-inn
{
    max-width: 800px;margin-right: auto;margin-left: auto;text-align: center;
}

.h-large
{
    font-size: 32px;line-height: 32px;
}
.h-xlarge
{
    font-size: 42px;line-height: 42px;
}
.thin-font
{
    font-weight: normal                                                                                                                                                                                                                                                                                                                                                                                                                            ;font-weight: 300;
}
.text-box-dark
{
    display: block;color: #fff;
    background: #000!important;
}
.text-box-light
{
    display: block;color: #000;border: 1px solid #eee;
    background: #fff!important;
}
.text-bordered-primary
{
    padding: 5px;

    border: 3px solid #627f9a;
}
.text-bordered-white
{
    padding: 5px;

    border: 3px solid #ccc;
}
.text-bordered-dark
{
    padding: 5px;

    border: 3px solid #000;
}
.text-boarder-top-bottom-white,
.text-boarder-top-bottom-dark
{
    padding-top: 5px; padding-bottom: 5px;

    border-top: 3px solid #ccc; border-bottom: 3px solid #ccc;
}
.text-boarder-top-bottom-dark
{
    border-color: #000;
}


/*buttons */
a.button
{
    display: inline-block;padding: 5px 10px;text-decoration: none; text-transform: uppercase;color: #fff;
    background: #999;
}
a.button.alt-button
{
    padding: 3px 8px; color: #999;border: 3px solid #999;
    background: transparent!important;
}
a.button.alt-button.secondary
{
    color: #ccc;
    border-color: #ccc;
}
a.button.alt-button.success
{
    color: #a3d247;
    border-color: #a3d247;
}
a.button.alt-button.white
{
    color: #555;
    border-color: #555;
}

a.button.secondary
{
    background-color: #ccc;
}
a.button.success
{
    background-color: #a3d247;
}
a.button.alert
{
    background-color: #e01a00;
}

a.button.large
{
    padding: 10px 20px!important;
}
a.button.large.alt-button
{
    padding: 8px 17px!important;
}



/* ANIMATIONS */

.animated
{
    -webkit-animation-duration: 1s                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ;-moz-animation-duration: 1s;-ms-animation-duration: 1s;-o-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-delay: .3s;-moz-animation-delay: .3;-o-animation-delay: .3s;animation-delay: .3s;

    -webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;-ms-animation-fill-mode: both;-o-animation-fill-mode: both;animation-fill-mode: both;
}.animated.hinge
{
    -webkit-animation-duration: 2s                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ;-moz-animation-duration: 2s;-ms-animation-duration: 2s;-o-animation-duration: 2s;animation-duration: 2s;
}@-webkit-keyframes flash
{
    0%,
    50%,
    100%
    {
        opacity: 1;
    } 25%,
    75%
    {
        opacity: 0;
    }
}

@-moz-keyframes flash
{
    0%,
    50%,
    100%
    {
        opacity: 1;
    }
    25%,
    75%
    {
        opacity: 0;
    }
}

@-o-keyframes flash
{
    0%,
    50%,
    100%
    {
        opacity: 1;
    }
    25%,
    75%
    {
        opacity: 0;
    }
}

@keyframes flash
{
    0%,
    50%,
    100%
    {
        opacity: 1;
    }
    25%,
    75%
    {
        opacity: 0;
    }
}

.flash
{
    -webkit-animation-name: flash;
       -moz-animation-name: flash;
         -o-animation-name: flash;
            animation-name: flash;
}
@-webkit-keyframes bounce
{
    0%,
    20%,
    50%,
    80%,
    100%
    {
        -webkit-transform: translateY(0);
    }
    40%
    {
        -webkit-transform: translateY(-30px);
    }
    60%
    {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce
{
    0%,
    20%,
    50%,
    80%,
    100%
    {
        -moz-transform: translateY(0);
    }
    40%
    {
        -moz-transform: translateY(-30px);
    }
    60%
    {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce
{
    0%,
    20%,
    50%,
    80%,
    100%
    {
        -o-transform: translateY(0);
    }
    40%
    {
        -o-transform: translateY(-30px);
    }
    60%
    {
        -o-transform: translateY(-15px);
    }
}
@keyframes bounce
{
    0%,
    20%,
    50%,
    80%,
    100%
    {
        transform: translateY(0);
    }
    40%
    {
        transform: translateY(-30px);
    }
    60%
    {
        transform: translateY(-15px);
    }
}

.bounce
{
    -webkit-animation-name: bounce;
       -moz-animation-name: bounce;
         -o-animation-name: bounce;
            animation-name: bounce;
}
@-webkit-keyframes tada
{
    0%
    {
        -webkit-transform: scale(1);
    }
    10%,
    20%
    {
        -webkit-transform: scale(.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80%
    {
        -webkit-transform: scale(1.1) rotate(-3deg);
    }
    100%
    {
        -webkit-transform: scale(1) rotate(0);
    }
}

@-moz-keyframes tada
{
    0%
    {
        -moz-transform: scale(1);
    }
    10%,
    20%
    {
        -moz-transform: scale(.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90%
    {
        -moz-transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80%
    {
        -moz-transform: scale(1.1) rotate(-3deg);
    }
    100%
    {
        -moz-transform: scale(1) rotate(0);
    }
}

@-o-keyframes tada
{
    0%
    {
        -o-transform: scale(1);
    }
    10%,
    20%
    {
        -o-transform: scale(.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90%
    {
        -o-transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80%
    {
        -o-transform: scale(1.1) rotate(-3deg);
    }
    100%
    {
        -o-transform: scale(1) rotate(0);
    }
}

@keyframes tada
{
    0%
    {
        transform: scale(1);
    }
    10%,
    20%
    {
        transform: scale(.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90%
    {
        transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80%
    {
        transform: scale(1.1) rotate(-3deg);
    }
    100%
    {
        transform: scale(1) rotate(0);
    }
}

.tada
{
    -webkit-animation-name: tada;
       -moz-animation-name: tada;
         -o-animation-name: tada;
            animation-name: tada;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse
{
    0%
    {
        -webkit-transform: scale(1);
    }
    50%
    {
        -webkit-transform: scale(1.1);
    }
    100%
    {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes pulse
{
    0%
    {
        -moz-transform: scale(1);
    }
    50%
    {
        -moz-transform: scale(1.1);
    }
    100%
    {
        -moz-transform: scale(1);
    }
}
@-o-keyframes pulse
{
    0%
    {
        -o-transform: scale(1);
    }
    50%
    {
        -o-transform: scale(1.1);
    }
    100%
    {
        -o-transform: scale(1);
    }
}
@keyframes pulse
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}

.pulse
{
    -webkit-animation-name: pulse;
       -moz-animation-name: pulse;
         -o-animation-name: pulse;
            animation-name: pulse;
}
@-webkit-keyframes flipInX
{
    0%
    {
        -webkit-transform: perspective(400px) rotateX(90deg);

        opacity: 0;
    }

    40%
    {
        -webkit-transform: perspective(400px) rotateX(-10deg);
    }

    70%
    {
        -webkit-transform: perspective(400px) rotateX(10deg);
    }

    100%
    {
        -webkit-transform: perspective(400px) rotateX(0deg);

        opacity: 1;
    }
}
@-moz-keyframes flipInX
{
    0%
    {
        -moz-transform: perspective(400px) rotateX(90deg);

        opacity: 0;
    }

    40%
    {
        -moz-transform: perspective(400px) rotateX(-10deg);
    }

    70%
    {
        -moz-transform: perspective(400px) rotateX(10deg);
    }

    100%
    {
        -moz-transform: perspective(400px) rotateX(0deg);

        opacity: 1;
    }
}
@-o-keyframes flipInX
{
    0%
    {
        -o-transform: perspective(400px) rotateX(90deg);

        opacity: 0;
    }

    40%
    {
        -o-transform: perspective(400px) rotateX(-10deg);
    }

    70%
    {
        -o-transform: perspective(400px) rotateX(10deg);
    }

    100%
    {
        -o-transform: perspective(400px) rotateX(0deg);

        opacity: 1;
    }
}
@keyframes flipInX
{
    0%
    {
        transform: perspective(400px) rotateX(90deg);

        opacity: 0;
    }

    40%
    {
        transform: perspective(400px) rotateX(-10deg);
    }

    70%
    {
        transform: perspective(400px) rotateX(10deg);
    }

    100%
    {
        transform: perspective(400px) rotateX(0deg);

        opacity: 1;
    }
}

.flipInX
{
    -webkit-animation-name: flipInX;
       -moz-animation-name: flipInX;
         -o-animation-name: flipInX;
            animation-name: flipInX;

    -webkit-backface-visibility: visible !important;
       -moz-backface-visibility: visible !important;
         -o-backface-visibility: visible !important;
            backface-visibility: visible !important;
}
@-webkit-keyframes flipInY
{
    0%
    {
        -webkit-transform: perspective(400px) rotateY(90deg);

        opacity: 0;
    }



    100%
    {
        -webkit-transform: perspective(400px) rotateY(0deg);

        opacity: 1;
    }
}
@-moz-keyframes flipInY
{
    0%
    {
        -moz-transform: perspective(400px) rotateY(90deg);

        opacity: 0;
    }



    100%
    {
        -moz-transform: perspective(400px) rotateY(0deg);

        opacity: 1;
    }
}
@-o-keyframes flipInY
{
    0%
    {
        -o-transform: perspective(400px) rotateY(90deg);

        opacity: 0;
    }



    100%
    {
        -o-transform: perspective(400px) rotateY(0deg);

        opacity: 1;
    }
}
@keyframes flipInY
{
    0%
    {
        transform: perspective(400px) rotateY(90deg);

        opacity: 0;
    }



    100%
    {
        transform: perspective(400px) rotateY(0deg);

        opacity: 1;
    }
}

.flipInY
{
    -webkit-animation-name: flipInY;
       -moz-animation-name: flipInY;
         -o-animation-name: flipInY;
            animation-name: flipInY;

    -webkit-backface-visibility: visible !important;
       -moz-backface-visibility: visible !important;
         -o-backface-visibility: visible !important;
            backface-visibility: visible !important;
}
@-webkit-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@-o-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.fadeIn
{
    -webkit-animation-name: fadeIn;
       -moz-animation-name: fadeIn;
         -o-animation-name: fadeIn;
            animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp
{
    0%
    {
        -webkit-transform: translateY(20px);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}

@-moz-keyframes fadeInUp
{
    0%
    {
        -moz-transform: translateY(20px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateY(0);

        opacity: 1;
    }
}

@-o-keyframes fadeInUp
{
    0%
    {
        -o-transform: translateY(20px);

        opacity: 0;
    }

    100%
    {
        -o-transform: translateY(0);

        opacity: 1;
    }
}

@keyframes fadeInUp
{
    0%
    {
        transform: translateY(20px);

        opacity: 0;
    }

    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}

.fadeInUp
{
    -webkit-animation-name: fadeInUp;
       -moz-animation-name: fadeInUp;
         -o-animation-name: fadeInUp;
            animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown
{
    0%
    {
        -webkit-transform: translateY(-20px);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}

@-moz-keyframes fadeInDown
{
    0%
    {
        -moz-transform: translateY(-20px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateY(0);

        opacity: 1;
    }
}

@-o-keyframes fadeInDown
{
    0%
    {
        -o-transform: translateY(-20px);

        opacity: 0;
    }

    100%
    {
        -o-transform: translateY(0);

        opacity: 1;
    }
}

@keyframes fadeInDown
{
    0%
    {
        transform: translateY(-20px);

        opacity: 0;
    }

    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}

.fadeInDown
{
    -webkit-animation-name: fadeInDown;
       -moz-animation-name: fadeInDown;
         -o-animation-name: fadeInDown;
            animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft
{
    0%
    {
        -webkit-transform: translateX(-20px);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}

@-moz-keyframes fadeInLeft
{
    0%
    {
        -moz-transform: translateX(-20px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateX(0);

        opacity: 1;
    }
}

@-o-keyframes fadeInLeft
{
    0%
    {
        -o-transform: translateX(-20px);

        opacity: 0;
    }

    100%
    {
        -o-transform: translateX(0);

        opacity: 1;
    }
}

@keyframes fadeInLeft
{
    0%
    {
        transform: translateX(-20px);

        opacity: 0;
    }

    100%
    {
        transform: translateX(0);

        opacity: 1;
    }
}

.fadeInLeft
{
    -webkit-animation-name: fadeInLeft;
       -moz-animation-name: fadeInLeft;
         -o-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight
{
    0%
    {
        -webkit-transform: translateX(20px);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}

@-moz-keyframes fadeInRight
{
    0%
    {
        -moz-transform: translateX(20px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateX(0);

        opacity: 1;
    }
}

@-o-keyframes fadeInRight
{
    0%
    {
        -o-transform: translateX(20px);

        opacity: 0;
    }

    100%
    {
        -o-transform: translateX(0);

        opacity: 1;
    }
}

@keyframes fadeInRight
{
    0%
    {
        transform: translateX(20px);

        opacity: 0;
    }

    100%
    {
        transform: translateX(0);

        opacity: 1;
    }
}

.fadeInRight
{
    -webkit-animation-name: fadeInRight;
       -moz-animation-name: fadeInRight;
         -o-animation-name: fadeInRight;
            animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUpBig
{
    0%
    {
        -webkit-transform: translateY(2000px);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}

@-moz-keyframes fadeInUpBig
{
    0%
    {
        -moz-transform: translateY(2000px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateY(0);

        opacity: 1;
    }
}

@-o-keyframes fadeInUpBig
{
    0%
    {
        -o-transform: translateY(2000px);

        opacity: 0;
    }

    100%
    {
        -o-transform: translateY(0);

        opacity: 1;
    }
}

@keyframes fadeInUpBig
{
    0%
    {
        transform: translateY(2000px);

        opacity: 0;
    }

    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}

.fadeInUpBig
{
    -webkit-animation-name: fadeInUpBig;
       -moz-animation-name: fadeInUpBig;
         -o-animation-name: fadeInUpBig;
            animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInLeftBig
{
    0%
    {
        -webkit-transform: translateX(-2000px);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
@-moz-keyframes fadeInLeftBig
{
    0%
    {
        -moz-transform: translateX(-2000px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateX(0);

        opacity: 1;
    }
}
@-o-keyframes fadeInLeftBig
{
    0%
    {
        -o-transform: translateX(-2000px);

        opacity: 0;
    }

    100%
    {
        -o-transform: translateX(0);

        opacity: 1;
    }
}
@keyframes fadeInLeftBig
{
    0%
    {
        transform: translateX(-2000px);

        opacity: 0;
    }

    100%
    {
        transform: translateX(0);

        opacity: 1;
    }
}

.fadeInLeftBig
{
    -webkit-animation-name: fadeInLeftBig;
       -moz-animation-name: fadeInLeftBig;
         -o-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRightBig
{
    0%
    {
        -webkit-transform: translateX(2000px);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}

@-moz-keyframes fadeInRightBig
{
    0%
    {
        -moz-transform: translateX(2000px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateX(0);

        opacity: 1;
    }
}

@-o-keyframes fadeInRightBig
{
    0%
    {
        -o-transform: translateX(2000px);

        opacity: 0;
    }

    100%
    {
        -o-transform: translateX(0);

        opacity: 1;
    }
}

@keyframes fadeInRightBig
{
    0%
    {
        transform: translateX(2000px);

        opacity: 0;
    }

    100%
    {
        transform: translateX(0);

        opacity: 1;
    }
}

.fadeInRightBig
{
    -webkit-animation-name: fadeInRightBig;
       -moz-animation-name: fadeInRightBig;
         -o-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
}
@-webkit-keyframes bounceIn
{
    0%
    {
        -webkit-transform: scale(1.5);

        opacity: 0;
    }


    100%
    {
        -webkit-transform: scale(1);

        opacity: 1;
    }
}

@-moz-keyframes bounceIn
{
    0%
    {
        -moz-transform: scale(.3);

        opacity: 0;
    }



    100%
    {
        -moz-transform: scale(1);

        opacity: 1;
    }
}

@-o-keyframes bounceIn
{
    0%
    {
        -o-transform: scale(.3);

        opacity: 0;
    }



    100%
    {
        -o-transform: scale(1);

        opacity: 1;
    }
}

@keyframes bounceIn
{
    0%
    {
        transform: scale(.3);

        opacity: 0;
    }



    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}

.bounceIn
{
    -webkit-animation-name: bounceIn;
       -moz-animation-name: bounceIn;
         -o-animation-name: bounceIn;
            animation-name: bounceIn;
}



@-webkit-keyframes bounceInUp
{
    0%
    {
        -webkit-transform: translateY(2000px);

        opacity: 0;
    }


    100%
    {
        -webkit-transform: translateY(0);

        opacity: 1;
    }
}
@-moz-keyframes bounceInUp
{
    0%
    {
        -moz-transform: translateY(2000px);

        opacity: 0;
    }

    100%
    {
        -moz-transform: translateY(0);

        opacity: 0;
    }
}

@-o-keyframes bounceInUp
{
    0%
    {
        -o-transform: translateY(2000px);

        opacity: 0;
    }



    100%
    {
        -o-transform: translateY(0);

        opacity: 0;
    }
}

@keyframes bounceInUp
{
    0%
    {
        transform: translateY(2000px);

        opacity: 0;
    }

    60%
    {
        transform: translateY(-30px);

        opacity: 1;
    }

    80%
    {
        transform: translateY(10px);
    }

    100%
    {
        transform: translateY(0);
    }
}

.bounceInUp
{
    -webkit-animation-name: bounceInUp;
       -moz-animation-name: bounceInUp;
         -o-animation-name: bounceInUp;
            animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown
{
    0%
    {
        -webkit-transform: translateY(-2000px);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: translateY(30px);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: translateY(-10px);
    }

    100%
    {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown
{
    0%
    {
        -moz-transform: translateY(-2000px);

        opacity: 0;
    }

    60%
    {
        -moz-transform: translateY(30px);

        opacity: 1;
    }

    80%
    {
        -moz-transform: translateY(-10px);
    }

    100%
    {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInDown
{
    0%
    {
        -o-transform: translateY(-2000px);

        opacity: 0;
    }

    60%
    {
        -o-transform: translateY(30px);

        opacity: 1;
    }

    80%
    {
        -o-transform: translateY(-10px);
    }

    100%
    {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInDown
{
    0%
    {
        transform: translateY(-2000px);

        opacity: 0;
    }

    60%
    {
        transform: translateY(30px);

        opacity: 1;
    }

    80%
    {
        transform: translateY(-10px);
    }

    100%
    {
        transform: translateY(0);
    }
}

.bounceInDown
{
    -webkit-animation-name: bounceInDown;
       -moz-animation-name: bounceInDown;
         -o-animation-name: bounceInDown;
            animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft
{
    0%
    {
        -webkit-transform: translateX(-2000px);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: translateX(30px);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: translateX(-10px);
    }

    100%
    {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInLeft
{
    0%
    {
        -moz-transform: translateX(-2000px);

        opacity: 0;
    }

    60%
    {
        -moz-transform: translateX(30px);

        opacity: 1;
    }

    80%
    {
        -moz-transform: translateX(-10px);
    }

    100%
    {
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInLeft
{
    0%
    {
        -o-transform: translateX(-2000px);

        opacity: 0;
    }

    60%
    {
        -o-transform: translateX(30px);

        opacity: 1;
    }

    80%
    {
        -o-transform: translateX(-10px);
    }

    100%
    {
        -o-transform: translateX(0);
    }
}

@keyframes bounceInLeft
{
    0%
    {
        transform: translateX(-2000px);

        opacity: 0;
    }

    60%
    {
        transform: translateX(30px);

        opacity: 1;
    }

    80%
    {
        transform: translateX(-10px);
    }

    100%
    {
        transform: translateX(0);
    }
}

.bounceInLeft
{
    -webkit-animation-name: bounceInLeft;
       -moz-animation-name: bounceInLeft;
         -o-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight
{
    0%
    {
        -webkit-transform: translateX(2000px);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: translateX(-30px);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: translateX(10px);
    }

    100%
    {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInRight
{
    0%
    {
        -moz-transform: translateX(2000px);

        opacity: 0;
    }

    60%
    {
        -moz-transform: translateX(-30px);

        opacity: 1;
    }

    80%
    {
        -moz-transform: translateX(10px);
    }

    100%
    {
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInRight
{
    0%
    {
        -o-transform: translateX(2000px);

        opacity: 0;
    }

    60%
    {
        -o-transform: translateX(-30px);

        opacity: 1;
    }

    80%
    {
        -o-transform: translateX(10px);
    }

    100%
    {
        -o-transform: translateX(0);
    }
}

@keyframes bounceInRight
{
    0%
    {
        transform: translateX(2000px);

        opacity: 0;
    }

    60%
    {
        transform: translateX(-30px);

        opacity: 1;
    }

    80%
    {
        transform: translateX(10px);
    }

    100%
    {
        transform: translateX(0);
    }
}

.bounceInRight
{
    -webkit-animation-name: bounceInRight;
       -moz-animation-name: bounceInRight;
         -o-animation-name: bounceInRight;
            animation-name: bounceInRight;
}
@-webkit-keyframes rotateInUpLeft
{
    0%
    {
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: left bottom;

        opacity: 0;
    }

    100%
    {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: left bottom;

        opacity: 1;
    }
}

@-moz-keyframes rotateInUpLeft
{
    0%
    {
        -moz-transform: rotate(90deg);
        -moz-transform-origin: left bottom;

        opacity: 0;
    }

    100%
    {
        -moz-transform: rotate(0);
        -moz-transform-origin: left bottom;

        opacity: 1;
    }
}

@-o-keyframes rotateInUpLeft
{
    0%
    {
        -o-transform: rotate(90deg);
        -o-transform-origin: left bottom;

        opacity: 0;
    }

    100%
    {
        -o-transform: rotate(0);
        -o-transform-origin: left bottom;

        opacity: 1;
    }
}

@keyframes rotateInUpLeft
{
    0%
    {
        transform: rotate(90deg);
        transform-origin: left bottom;

        opacity: 0;
    }

    100%
    {
        transform: rotate(0);
        transform-origin: left bottom;

        opacity: 1;
    }
}

.rotateInUpLeft
{
    -webkit-animation-name: rotateInUpLeft;
       -moz-animation-name: rotateInUpLeft;
         -o-animation-name: rotateInUpLeft;
            animation-name: rotateInUpLeft;
}
@-webkit-keyframes rotateInUpRight
{
    0%
    {
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: right bottom;

        opacity: 1;
    }
}

@-moz-keyframes rotateInUpRight
{
    0%
    {
        -moz-transform: rotate(-90deg);
        -moz-transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        -moz-transform: rotate(0);
        -moz-transform-origin: right bottom;

        opacity: 1;
    }
}

@-o-keyframes rotateInUpRight
{
    0%
    {
        -o-transform: rotate(-90deg);
        -o-transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        -o-transform: rotate(0);
        -o-transform-origin: right bottom;

        opacity: 1;
    }
}

@keyframes rotateInUpRight
{
    0%
    {
        transform: rotate(-90deg);
        transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        transform: rotate(0);
        transform-origin: right bottom;

        opacity: 1;
    }
}

.rotateInUpRight
{
    -webkit-animation-name: rotateInUpRight;
       -moz-animation-name: rotateInUpRight;
         -o-animation-name: rotateInUpRight;
            animation-name: rotateInUpRight;
}
@-webkit-keyframes rotateInDownRight
{
    0%
    {
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: right bottom;

        opacity: 1;
    }
}

@-moz-keyframes rotateInDownRight
{
    0%
    {
        -moz-transform: rotate(90deg);
        -moz-transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        -moz-transform: rotate(0);
        -moz-transform-origin: right bottom;

        opacity: 1;
    }
}

@-o-keyframes rotateInDownRight
{
    0%
    {
        -o-transform: rotate(90deg);
        -o-transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        -o-transform: rotate(0);
        -o-transform-origin: right bottom;

        opacity: 1;
    }
}

@keyframes rotateInDownRight
{
    0%
    {
        transform: rotate(90deg);
        transform-origin: right bottom;

        opacity: 0;
    }

    100%
    {
        transform: rotate(0);
        transform-origin: right bottom;

        opacity: 1;
    }
}

.rotateInDownRight
{
    -webkit-animation-name: rotateInDownRight;
       -moz-animation-name: rotateInDownRight;
         -o-animation-name: rotateInDownRight;
            animation-name: rotateInDownRight;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
