//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed;
  list-style: none;
  //background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;
  font-size: 125%;

  > li {
    display: inline-block;
    text-transform: uppercase;
    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
    a {
      color: @breadcrumb-color;

      &:hover {
        color: @breadcrumb-active-color;
        text-decoration: none;
      }
    }
  }

  > .active {
    color: @breadcrumb-active-color;
    font-weight: bold;
  }
}
