/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

body {
    background: #fff;
    color: #777;
    padding: 0;
    margin: 0;
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default
}

//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    .box-shadow(none);
  }
  .badge {
    text-shadow: none;
  }
}

.btn-transparent {
  &:hover {
    background-color: @btn-transparent-color;
    color: #333333 !important;
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  //#gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  //.reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootstrap/issues/10620
  background-repeat: repeat-x;
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken(@btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: darken(@btn-color, 12%);
      background-image: none;
    }
  }
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
 .btn-default { border: 1px solid #ccc; }
 .btn-transparent { border: 1px solid @btn-transparent-border; opacity: .6; margin-bottom: 3px; }
 .btn-primary { border: 0; }
 .btn-success { border: 0; }
 .btn-info    { border: 0; }
 .btn-warning { border: 0; }
 .btn-danger  { border: 1px solid @btn-danger-border; }


//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}


//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  //#gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  //background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  //#gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  //background-color: darken(@dropdown-link-active-bg, 5%);
}


//
// Navbar
// --------------------------------------------------

// Default navbar
// .navbar-default {
//   #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
//   .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
//   border-radius: @navbar-border-radius;
//   @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
//   .box-shadow(@shadow);

//   .navbar-nav > .open > a,
//   .navbar-nav > .active > a {
//     #gradient > .vertical(@start-color: darken(@navbar-default-link-active-bg, 5%); @end-color: darken(@navbar-default-link-active-bg, 2%));
//     .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
//   }
// }
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Inverted navbar
.navbar-inverse {
  #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered; see https://github.com/twbs/bootstrap/issues/10257
  border-radius: @navbar-border-radius;
  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: @navbar-inverse-link-active-bg; @end-color: lighten(@navbar-inverse-link-active-bg, 2.5%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.25));
  }

  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

// Fix active state of dropdown items in collapsed mode
@media (max-width: @grid-float-breakpoint-max) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
      //#gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
    }
  }
}


//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
}

// Mixin for generating new styles
.alert-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
  border-color: darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }


//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
  #gradient > .vertical(@start-color: darken(@progress-bg, 4%); @end-color: @progress-bg)
}

// Mixin for generating new styles
.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { .progress-bar-styles(@progress-bar-bg); }
.progress-bar-success    { .progress-bar-styles(@progress-bar-success-bg); }
.progress-bar-info       { .progress-bar-styles(@progress-bar-info-bg); }
.progress-bar-warning    { .progress-bar-styles(@progress-bar-warning-bg); }
.progress-bar-danger     { .progress-bar-styles(@progress-bar-danger-bg); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
  #gradient > .striped();
}


//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: @border-radius-base;
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
  #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
  border-color: darken(@list-group-active-border, 7.5%);

  .badge {
    text-shadow: none;
  }
}


//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  //.box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }


//
// Wells
// --------------------------------------------------

.well {
  #gradient > .vertical(@start-color: darken(@well-bg, 5%); @end-color: @well-bg);
  border-color: darken(@well-bg, 10%);
  @shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  .box-shadow(@shadow);
}

.secondRow {
  padding-top: 50px;
}

.site-header {
  border-top: 5px solid #627f9a;
}

.margintop {
  margin-top: 20px;
}


//
// FLATSOME 
// ----------------------------------------------------

.navbar-toggle {
  border-radius: 0px;
  border-color: @brand-primary !important;

  .icon-bar {
      background-color: @brand-primary;
  }
}


.alt-font {
    font-family: @font-family-alt !important;
}

.tx-div.small {
    width: 30px;
}

.tx-div {
    display: block;
    height: 3px;
    background-color: #000000;
    opacity: .1;
    margin: 15px 0 15px;
}

.tx-div.invert {
    background-color: #ffffff;
    opacity: .3;
}

.tx-div.center {
  margin:0 auto;
}

.blog .tx-div.center {
  margin: 15px auto 15px auto;
}

.price.large,
.carouselStars {
    font-size: 190%;
    margin-bottom: 20px;
}

.carouselStars {
  color: #FFD700 !important;
}

.product_meta>span {
    display: block;
    // border-top: 1px dotted #DDD;
    // border-bottom: 1px dotted #DDD;
    padding: 7px 0;
    font-size: 80%;
}

// .slide2 .carousel-caption {
//   top:0;
//   padding:0;
// }

.fit {
  color: #627f9a;
  text-decoration: none;
  line-height: inherit;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 70%;
  font-weight: bolder;
  margin-bottom:10px;
}

.slide1 .fit {
  text-align: left;
}

.box img {
  margin: 0 auto 10px auto;
}

.box .product {
  color: #627f9a;
  font-size: 110%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
}

.box .info-box p {
  text-align: center;
  color:#000;
  font-size: 130%;
  font-weight: bold;
}

.box .info-box p.stars {
  color:#d26e4b;
}

.btn-box {
  display:none;
  position: absolute;
  top:30%;
  left:50%;
  margin-left: -65px;
  width: 130px;
}

.boxlink:hover {
  text-decoration: none;  
}

.boxlink:hover .btn-box {
  display: block;
}

.homepage-icon {
  text-align: right;
  color: #ccc;
}

.slide3 .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide3 {
  position: relative;
}

.slide1 .carousel-caption,
.slide2 .carousel-caption {
  text-shadow: none !important;
}

.date {
  border-color: #627f9a;
  color: #627f9a;
}

.dark {
    color: #dddddd;
}
.social-icons {
  list-style: none;
  padding-left: 0;


  li {
    float: left;
  }

  .icon {
      position: relative;
      padding: 0;
      width: 34px;
      height: 34px;
      line-height: 31px;
      text-align: center;
      font-size: 16px;
      border: 2px solid darken( @btn-transparent-color, 20% );
      display: inline-block;
      margin: 0 5px 5px 0;
      color: darken( @btn-transparent-color, 20% );
      border-radius: 99px;
      -webkit-transition: "background-color" 200ms ease-out;
      transition: "background-color" 200ms ease-out;

      &:hover {
          color: #ffffff;
          text-decoration: none
      }
  }

  .icon.icon_facebook:hover {
      background-color: #3a589d;
      border-color: #3a589d
  }

  .icon.icon_whatsapp:hover {
      background-color: #51cb5a;
      border-color: #51cb5a
  }

  .icon.icon_twitter:hover {
      background-color: #2478ba;
      border-color: #2478ba
  }

  .icon.icon_email:hover {
      background-color: #111111;
      border-color: #111111
  }

  .icon.icon_pintrest:hover {
      background-color: #cb2320;
      border-color: #cb2320
  }

  .icon.icon_rss:hover {
      background-color: #fc7600;
      border-color: #fc7600
  }

  .icon.icon_twitter:hover {
      background-color: #2478ba;
      border-color: #2478ba
  }

  .icon.icon_tumblr:hover {
      background-color: #36455d;
      border-color: #36455d
  }

  .icon.icon_instagram:hover {
      background-color: #3b6994;
      border-color: #3b6994
  }

  .icon.icon_vk:hover {
      background-color: #527498;
      border-color: #527498
  }

  .icon.icon_googleplus:hover {
      background-color: #dd4e31;
      border-color: #dd4e31
  }

  .icon.icon_linkedin:hover {
      background-color: #0072b7;
      border-color: #0072b7
  }

  .icon.icon_youtube:hover {
      background-color: #c33223;
      border-color: #c33223
  }

  .icon.icon_flickr:hover {
      background-color: #e5086f;
      border-color: #e5086f
  }
}

// #masthead {
//     height: 120px
// }

#masthead {
    background-color: #ffffff;
    top: -200px;
    -webkit-transition: top .6s, opacity .6s, background .3s;
    transition: top .6s, opacity .6s, background .3s;
    background-position: bottom center;
    background-repeat: repeat-x
}

#masthead.stuck {
    opacity: .95;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2)
}

#masthead.stuck:hover,
.wide-nav.stuck:hover {
    opacity: 1
}

.site-content.headerstuck {
  margin-top: 107px;
}

//
// FLATSOME Footer
// ----------------------------------------------------

//http://lesscss.org/less-preview/
// @btn-transparent-color: #fff;
// .block0 { background-color: darken( @btn-transparent-color, 0% ); }
// .block1 { background-color: darken( @btn-transparent-color, 2.5% ); }
// .block2 { background-color: darken( @btn-transparent-color, 5% ); }
// .block3 { background-color: darken( @btn-transparent-color, 7.5% ); }
// .block4 { background-color: darken( @btn-transparent-color, 10% ); }
// .block5 { background-color: darken( @btn-transparent-color, 12.5% ); }
// .block6 { background-color: darken( @btn-transparent-color, 15% ); }
// .block7 { background-color: darken( @btn-transparent-color, 17.5% ); }
// .block8 { background-color: darken( @btn-transparent-color, 20% ); }
// .block9 { background-color: darken( @btn-transparent-color, 22.5% ); }
// .block10 { background-color: darken( @btn-transparent-color, 25% ); }
// .block11 { background-color: darken( @btn-transparent-color, 27.5% ); }
// .block12 { background-color: darken( @btn-transparent-color, 30% ); }
// .block13 { background-color: darken( @btn-transparent-color, 32.5% ); }
// .block14 { background-color: darken( @btn-transparent-color, 35% ); }
// .block15 { background-color: darken( @btn-transparent-color, 37.5% ); }
// .block16 { background-color: darken( @btn-transparent-color, 40% ); }
// .block17 { background-color: darken( @btn-transparent-color, 42.5% ); }
// .block18 { background-color: darken( @btn-transparent-color, 45% ); }
// .block19 { background-color: darken( @btn-transparent-color, 47.5% ); }
// .block20 { background-color: darken( @btn-transparent-color, 50% ); }
// .block21 { background-color: darken( @btn-transparent-color, 52.5% ); }
// .block22 { background-color: darken( @btn-transparent-color, 55% ); }
// .block23 { background-color: darken( @btn-transparent-color, 57.5% ); }
// .block24 { background-color: darken( @btn-transparent-color, 60% ); }
// .block25 { background-color: darken( @btn-transparent-color, 62.7% ); }
// .block26 { background-color: darken( @btn-transparent-color, 65% ); }
// .block27 { background-color: darken( @btn-transparent-color, 67.5% ); }
// .block28 { background-color: darken( @btn-transparent-color, 70% ); }
// .block29 { background-color: darken( @btn-transparent-color, 72.5% ); }
// .block30 { background-color: darken( @btn-transparent-color, 75% ); }
// .block31 { background-color: darken( @btn-transparent-color, 77.5% ); }
// .block32 { background-color: darken( @btn-transparent-color, 80% ); }
// .block33 { background-color: darken( @btn-transparent-color, 82.5% ); }
// .block34 { background-color: darken( @btn-transparent-color, 85% ); }
// .block35 { background-color: darken( @btn-transparent-color, 87.5% ); }
// .block36 { background-color: darken( @btn-transparent-color, 90% ); }
// .block37 { background-color: darken( @btn-transparent-color, 92.5% ); }
// .block38 { background-color: darken( @btn-transparent-color, 95% ); }
// .block39 { background-color: darken( @btn-transparent-color, 97.5% ); }
// .block40 { background-color: darken( @btn-transparent-color, 100% ); }


.site-footer {
  color: @footer-color;
  margin-top: 60px;
}

.site-footer h5 {
  font-size: 95%;
  text-transform: uppercase;
  color:@btn-transparent-color;
}

.tier1 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: darken( @btn-transparent-color, 57.5% );
}

.tier2 {
  background-color: darken( @btn-transparent-color, 65% );
  min-height: 50px;
  line-height: 50px;
}

.tier2 .copyright p {
  text-align: right;
}

.date-square {
  border: 2px solid #627f9a;
  text-align: center;
  font-size: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #627f9a;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  width:32px;
  height:32px;
}

.site-footer .date {
  border-color: darken( @btn-transparent-color, 20% );
  color: darken( @btn-transparent-color, 20% );
}

.post-date-day,
.post-date-month {
    display: block;
}

.post-date-month {
    font-weight: normal;
    font-size: 80%;
}

.latest-posts {
  list-style: none;
  padding-left: 0;
}

.latest-posts .post .wrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid darken( @btn-transparent-color, 20% );
}

.latest-posts li:last-of-type .wrapper {
  border-bottom: 0;
}

.latest-posts .post a {
  color: darken( @btn-transparent-color, 20% );
  font-size: 1em;
  text-decoration: none;
  font-weight: 100;
}

.latest-posts .post a:hover {
  color: darken( @btn-transparent-color, 12.5% );
  text-decoration: none;
}

.post_comments {
    font-size: 80%;
    display: block;
    margin-top: 5px;
}

.footer-menu {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

.footer-menu li {
  float: left;
  margin-right: 10px;
}

.footer-menu li a {
    display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80%;
    color: darken( @btn-transparent-color, 40% );

    &:hover,
    &:active {
      color: @btn-transparent-color;
      text-decoration: none;
    }
}

.copyright {
  font-weight: 100;
  
  &strong {
    font-weight: 300;
  }
}


//
// Shirt Deals
// ----------------------------------------------------


.shirt_deals {
  width: 100%;

  .mainColumn {
      .mainContent {
        border-bottom: 1px solid @gray-lighter;
      }
  }
}

.deal_of_the_week_box {
  width: 100%;
  background-color: @brand-primary;
  position: relative;

  .top_banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    .alt-font {
      font-size: 80%;
      line-height: 100%;
      margin: 15px 0;
      
      @media (min-width: @screen-sm-min) {
          font-size: 120%;
      }
      @media (min-width: @screen-md-min) {
          font-size: 170%;
      }
      @media (min-width: @screen-lg-min) {
          font-size: 200%;
      }
    }

    h1 {
      font-size: 250%;
      line-height: 85%;
      padding: 0 !important;
      margin: 0 0 25px 0 !important;

      @media (min-width: @screen-sm-min) {
          font-size: 400%;
      }
      @media (min-width: @screen-md-min) {
          font-size: 500%;
      }
      @media (min-width: @screen-lg-min) {
          font-size: 650%;
      }

    }
  }
}

.productBox {
  margin-bottom: 30px;
  position: relative;
  
  .inner-wrap {
    position: relative;
  }

  .date.date-square{
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 99;
    background-color: #fff;
  }

  .like.date-square{
    position: absolute;
    padding-top: 3px;
    top: 60px;
    left: 0px;
    z-index: 99;
    background-color: #fff;
  }

  .comment.date-square{
    position: absolute;
    padding-top: 3px;
    top: 102px;
    left: 0px;
    z-index: 99;
    background-color: #fff;
  }

  .product-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    overflow: hidden;
    display:block;
    padding-bottom: 130%;
    
    &:hover .quick-view {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: .9
    }

    .quick-view {
      font-weight: bold;
      font-size: 78%;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #ffffff;
      background: #627f9a;
      text-align: center;
      text-transform: uppercase;
      padding: 5px 0;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      -webkit-transition: all 200ms ease-out;
      transition: all 200ms ease-out;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      // @media (min-width: @screen-sm-min) {
      //     height: 100px;
      // }
      // @media (min-width: @screen-md-min) {
      //     height: 300px;
      // }
      // @media (min-width: @screen-lg-min) {
      //     height: 300px;
      // }
    }
  }

  .info {
    a {
      height:40px;
      display: block;
    }
    .price {
        font-size: 120%;
        color: @gray-base;
        font-weight: bold;
        line-height: 100%;
    }
    .comments {
        display: block;
    }
  }
}

// .archive {
//   .productBox {
//     img {
//       width: 100%;
//       height: 100px;

//       @media (min-width: @screen-sm-min) {
//           height: 100px;
//       }
//       @media (min-width: @screen-md-min) {
//           height: 300px;
//       }
//       @media (min-width: @screen-lg-min) {
//           height: 300px;
//       }
//     }
//   }
// }

.controllerLine {
  .right {
    .wrapper {
      margin-bottom: 20px;
      margin-top: 20px;
      padding-bottom: 8px;
      padding-top: 8px;
      text-align: right;
      line-height:25px;
    }
  }
  .center {
   .wrapper {
      margin-bottom: 20px;
      margin-top: 20px;
      padding-bottom: 8px;
      padding-top: 8px;
      text-align: center;
      line-height:25px;
    } 
  }
}

nav {
  position: relative;
  margin-top: 30px;
  margin-bottom: 60px;
  display: block;
  height:44px;

  .pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


//
// Shirt single
// ----------------------------------------------------

.single {
  
  .product-info {

    .breadcrumb {
      font-size: 75%;
      margin: 0;
      margin-bottom: 20px;
      padding: 0; 
    }
    
    h1 {
      font-size: 1.625em;
    }

    .next-prev-nav {
        text-align: right;
        position: relative;
        margin-bottom: 30px
    }

    .next-prev-nav .prod-dropdown>a {
        font-size: 16px;
        line-height: 16px;
        display: block;
        padding-top: 2px;
        text-align: center;
        width: 25px;
        height: 25px;
        border: 2px solid;
        display: inline-block;
        border-radius: 99px;
        color: #cccccc
    }

    .next-prev-nav .prod-dropdown>a:hover {
        border-color: #627f9a;
        background-color: #627f9a;
        color: #ffffff
    }
    .prod-dropdown {
        display: inline-block;
        z-index: 99
    }

    .prod-dropdown .nav-dropdown {
        left: auto;
        right: 0 !important;
        width: auto;
        padding: 3px;
        margin: 0
    }

    .price {
        font-size: 120%;
        color: @gray-base;
        font-weight: bold;
        line-height: 100%;
    }

  }
}

.star-rating {
    font-size: 130%;
    color: #d26e4b !important;
}


ul.tabs {
    margin-left: 0 !important
}

.tabbed-content {
    *zoom:1}

.tabbed-content:before,.tabbed-content:after {
    content: " ";
    display: table
}

.tabbed-content:after {
    clear: both
}

.tabbed-content ul.tabs {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left:0;
}

.tabbed-content ul.tabs li {
    list-style: none;
    display: inline-block;
    vertical-align: top
}

.tabbed-content ul.tabs li a {
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 25px;
    font-size: 90%;
    border-top: 4px solid transparent;
    padding: 10px 0;
    display: block;
    -webkit-transition: border 200ms ease-out;
    transition: border 200ms ease-out
}

.tabbed-content ul.tabs li a:hover {
    border-color: #777777;
    color: #777777
}

.tabbed-content ul.tabs li.active a,.tabbed-content ul.tabs li.current_page_item a {
    border-color: #333333;
    color: #333333
}

.tabbed-content.shortcode_tabgroup .tabs {
    border-top: 2px solid #eeeeee
}

.tabbed-content .entry-content {
    padding-top: 0
}

.shortcode_tabgroup h3 {
    margin-bottom: 15px
}

.shortcode_tabgroup.pos_pills h3,.shortcode_tabgroup.pos_center h3 {
    margin-bottom: 30px
}

.shortcode_tabgroup_vertical,.shortcode_tabgroup {
    margin-bottom: 30px
}

.tabbed-content .iosSlider,.tabbed-content .product-small {
    margin-bottom: 0
}

.tabbed-content.pos_pills>h3,.tabbed-content.pos_center>h3 {
    text-align: center
}

.tabbed-content.pos_pills>ul.tabs,.tabbed-content.pos_center>ul.tabs {
    border: 0;
    text-align: center
}

.tabbed-content.pos_pills ul.tabs li {
    border-right: 1px solid rgba(0,0,0,0.1)
}

.tabbed-content.pos_pills ul.tabs li:last-child {
    border: 0
}

.tabbed-content.pos_pills ul.tabs li a {
    border: 0;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 80%;
    margin: 0 15px
}

.tabbed-content.pos_pills ul.tabs li.active a,.tabbed-content.pos_pills ul.tabs li.current_page_item a {
    background: #627f9a;
    color: #ffffff
}

.tabbed-content.pos_pills ul.tabs {
    margin-bottom: 30px
}

.vertical-tabs {
    padding-top: 20px
}

.vertical-tabs ul.tabs-nav {
    margin-top: 15px;
    margin-left: 0;
    z-index: 9;
    border-right: 1px solid #DDD;
    margin-right: -1px;
    height: 100%
}

.vertical-tabs ul.tabs-nav li {
    list-style: none;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold
}

.vertical-tabs ul.tabs-nav li a {
    border-bottom: 1px solid #EEE;
    padding: 10px 0;
    display: block;
    color: #999999;
    -webkit-transition: border 200ms ease-out;
    transition: border 200ms ease-out
}

.vertical-tabs ul.tabs-nav li.current a,.vertical-tabs ul.tabs-nav li.current_page_item a,.vertical-tabs ul.tabs-nav li a:hover,.vertical-tabs ul.tabs-nav li.current-menu-item a {
    color: #333333;
    border-right: 4px solid #DDD
}

.vertical-tabs .tabs-inner {
    border-left: 1px solid #DDD;
    padding-left: 40px
}

.vertical-tabs .tabs-inner.active {
    padding-top: 5px
}

.shortcode_tabgroup_vertical h3 {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 15px;
    margin: 0
}

.vertical-tabs .tabs-inner,.tabbed-content .panel {
    zoom:1;float: left;
    visibility: hidden;
    height: 0;
    display: block;
    overflow: hidden;
    opacity: .0;
    -webkit-transition: opacity 0ms ease-out;
    transition: opacity 0ms ease-out
}

.vertical-tabs .tabs-inner.active,.tabbed-content .panel.active {
    margin: 15px 0;
    float: none;
    line-height: 130%;
    visibility: visible;
    height: auto;
    overflow: visible;
    opacity: 1.0;
    -webkit-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out
}

.ux-slider-wrapper {
    position: relative
}

.is-dragging .flickity-viewport>* {
    pointer-events: none
}

.ux-slider,.ux-row-slider {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden
}

.js-flickity:not(.flickity-enabled) {
    white-space: nowrap;
    width: auto
}

.js-flickity:not(.flickity-enabled)>* {
    display: inline-block !important;
    white-space: normal !important;
    vertical-align: top
}

.js-flickity:not(.flickity-enabled)>a {
    width: 100%
}

.ux-slider>.slide,.ux-slider>a,.ux-slider>p,.ux-slider>a>img,.ux-slider>img,.ux-slider>.ux-img-container {
    width: 100%
}

.flickity-slider>* {
    -webkit-transition: -webkit-transform 0.6s,opacity 0.6s,box-shadow 0.6s;
    transition: transform 0.6s,opacity 0.6s,box-shadow 0.6s
}

.flickity-slider>.ux_banner,.flickity-slider>.row,.flickity-slider>a,.flickity-slider>p,.flickity-slider>a>img,.flickity-slider>.slide,.flickity-slider>img,.flickity-slider>figure,.flickity-slider .ux-img-container {
    width: 100%;
    padding: 0;
    margin: 0
}

.flickity-enabled {
    position: relative
}

.flickity-enabled:focus {
    outline: none
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing
}

.flickity-prev-next-button.previous {
    left: 0
}

.row.js-flickity .flickity-prev-next-button.previous {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px)
}

.flickity-prev-next-button.next {
    right: 0
}

.row.js-flickity .flickity-prev-next-button.next {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px)
}

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 0
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 0
}

.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    max-width: 80px;
    color: #111;
    border: none;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s,opacity 0.3s,background 0.3s;
    transition: transform 0.3s,opacity 0.3s,background 0.3s
}

.js-flickity:hover .flickity-prev-next-button {
    opacity: 0.7;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.js-flickity .flickity-prev-next-button:hover {
    box-shadow: none;
    opacity: 1
}

.js-flickity .flickity-prev-next-button:hover svg,.js-flickity .flickity-prev-next-button:hover .arrow {
    fill: #627f9a
}

.flickity-prev-next-button:disabled,button.flickity-prev-next-button[disabled] {
    opacity: 0 !important;
    background: none !important;
    cursor: auto;
    box-shadow: none !important;
    pointer-events: none
}

.flickity-prev-next-button svg {
    position: absolute;
    padding: 10%;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 36px;
    max-height: 36px;
    height: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.slider-nav-push .flickity-prev-next-button svg {
    margin-top: -40px
}

.flickity-prev-next-button svg,.flickity-prev-next-button .arrow {
    border-color: currentColor;
    fill: #111;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.flickity-prev-next-button.no-svg {
    color: #111;
    font-size: 26px
}

.ux-slider .flickity-prev-next-button.next,.ux-row-slider .flickity-prev-next-button.next {
    -webkit-transform: translate(15%);
    -ms-transform: translate(15%);
    transform: translate(15%)
}

.ux-slider .flickity-prev-next-button.previous,.ux-row-slider .flickity-prev-next-button.previous {
    -webkit-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    transform: translateX(-15%)
}

.ux-slider:hover .flickity-prev-next-button.next,.ux-row-slider:hover .flickity-prev-next-button.next {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0)
}

.ux-slider:hover .flickity-prev-next-button.previous,.ux-row-slider:hover .flickity-prev-next-button.previous {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0)
}

.ux-row-slider .flickity-prev-next-button {
    width: 35px
}

.slider-nav-outside {
    overflow-x: visible
}

.slider-nav-outside .flickity-prev-next-button {
    width: 40px
}

.slider-nav-outside .flickity-prev-next-button.next {
    right: auto;
    left: 100%
}

.slider-nav-outside .flickity-prev-next-button.previous {
    left: auto;
    right: 100%
}

.slider-nav-reveal {
    overflow-x: hidden
}

.slider-nav-reveal .flickity-prev-next-button {
    width: 30px;
    background-color: #FFF;
    box-shadow: 0 -150px 30px 0 rgba(0,0,0,0.2)
}

.slider-nav-reveal .flickity-prev-next-button:hover {
    box-shadow: 0 -150px 30px 0 rgba(0,0,0,0.2)
}

.slider-nav-reveal .flickity-prev-next-button svg {
    max-width: 25px;
    max-height: 25px
}

.slider-nav-circle .flickity-prev-next-button svg,.slider-nav-circle .flickity-prev-next-button .arrow {
    border-radius: 100%;
    border: 3px solid currentColor
}

.slider-nav-circle .flickity-prev-next-button:hover svg,.slider-nav-circle .flickity-prev-next-button:hover .arrow {
    background-color: #627f9a;
    border-color: #627f9a;
    fill: #fff !important
}

.slider-nav-small svg {
    max-width: 32px;
    max-height: 32px;
    border-width: 2px !important
}

@media screen and (max-width: 48em) {
    .ux-slider .flickity-prev-next-button {
        display:none
    }

    .ux-row-slider .flickity-prev-next-button {
        width: 15px !important;
        opacity: 0.8;
        box-shadow: none !important
    }

    .flickity-prev-next-button svg {
        padding: 0;
        border: 0 !important
    }

    .flickity-page-dots {
        pointer-events: none
    }
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1
}

.row.js-flickity .flickity-page-dots {
    position: relative;
    bottom: 0;
    margin-bottom: 30px
}

.flickity-rtl .flickity-page-dots {
    direction: rtl
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 3px;
    border: 3px solid #111;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}

.nav-dots-small .flickity-page-dots .dot,.row.js-flickity .flickity-page-dots .dot {
    opacity: 0.2;
    width: 10px;
    height: 10px;
    border: 0;
    background-color: #111
}

.flickity-page-dots .dot:hover {
    opacity: 0.7
}

.flickity-page-dots .dot.is-selected {
    background-color: #111;
    opacity: 1 !important
}

.slider-nav-light .flickity-prev-next-button {
    color: #FFF
}

.slider-nav-light .flickity-prev-next-button svg,.slider-nav-light .flickity-prev-next-button .arrow {
    fill: #FFF
}

.slider-nav-light .flickity-page-dots .dot {
    border-color: #FFF
}

.slider-nav-light .flickity-page-dots .dot.is-selected {
    background-color: #FFF
}

.slider-no-arrows .flickity-prev-next-button {
    display: none !important
}

.slider-style-container,.slider-style-focus {
    background-color: #333
}

.slider-style-container .flickity-slider>*,.slider-style-focus .flickity-slider>* {
    max-width: 1080px;
    margin: 0 auto
}

.slider-style-container:not(.flickity-enabled) .ux_banner,.slider-style-focus:not(.flickity-enabled) .ux_banner {
    opacity: 0 !important
}

.slider-style-container .ux_banner,.slider-style-focus .ux_banner {
    opacity: 1
}

.slider-style-container .flickity-slider>*:not(.is-selected),.slider-style-focus .flickity-slider>*:not(.is-selected) {
    opacity: 0.5
}

.slider-style-focus {
    background-color: transparent;
    padding: 30px 0
}

.slider-style-focus .flickity-page-dots {
    bottom: 0
}

.slider-style-focus .flickity-slider>* {
    max-width: 1050px
}

.slider-style-focus .flickity-slider>*:not(.is-selected) {
    -webkit-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93)
}

.product-gallery-slider {
    margin-bottom: 20px
}

.product-gallery-slider img,.product-thumbnails img {
    min-width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.product-thumbnails {
    margin-left: -7.5px;
    margin-right: -7.5px
}

.product-thumbnails li {
    list-style: none;
    float: left;
    width: 25%;
    padding: 0 7.5px
}

.product-thumbnails .flickity-prev-next-button {
    max-width: 25px
}

.product-thumbnails:not(.flickity-enabled) li:nth-child(n+5) {
    display: none !important
}

.product-thumbnails a {
    overflow: hidden;
    display: block;
    border: 1px solid transparent
}

.product-thumbnails .is-nav-selected {
    border-color: #ccc
}

.product-thumbnails img {
    margin-bottom: -10px;
    opacity: 0.5;
    -webkit-transition: -webkit-transform 0.6s,opacity 0.6s;
    transition: transform 0.6s,opacity 0.6s
}

.product-thumbnails img:hover,.product-thumbnails .is-nav-selected img {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 1
}

.ux-row-slider.large-block-grid-6:not(.flickity-enabled) li:nth-child(n+7) {
    display: none !important
}

.ux-row-slider.large-block-grid-5:not(.flickity-enabled) li:nth-child(n+6) {
    display: none !important
}

.ux-row-slider.large-block-grid-4:not(.flickity-enabled) li:nth-child(n+5) {
    display: none !important
}

.ux-row-slider.large-block-grid-3:not(.flickity-enabled) li:nth-child(n+4) {
    display: none !important
}

.ux-row-slider.large-block-grid-2:not(.flickity-enabled) li:nth-child(n+3) {
    display: none !important
}

.ux_banner-grid {
    margin-left: -7.5px !important;
    margin-right: -7.5px !important
}

.ux_banner-grid .columns {
    margin-bottom: 15px;
    margin-left: -.1px
}

.ux_banner-grid .columns>.column-inner {
    padding-left: 7.5px;
    padding-right: 7.5px
}

.ux_banner-grid .columns>img {
    margin-bottom: 10px
}

.ux_banner-grid .iosSlider {
    margin-bottom: 0 !important;
    top: 0 !important
}

.ux-grid-column .column-inner,.ux-grid-column .ux_banner,.ux-grid-column .ux-slider-wrapper,.ux-grid-column .ux-slider-wrapper .ux-slider,.ux-grid-column .ux-slider-wrapper .flickity-viewport {
    height: 100% !important
}

.ux-grid-column.columns {
    margin-bottom: 15px
}

.ux_banner .inner-wrap.animated {
    opacity: 0
}

#content>.ux_banner,#content>.ux_block>.ux_banner {
    margin-bottom: 30px
}

.ux_banner {
    word-wrap: normal;
    width: 100%;
    background: #627f9a;
    line-height: 140%;
    display: block;
    position: relative;
    overflow: hidden
}

.ux_banner,.ux_slider_wrapper {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none
}

.ux_banner.light {
    background: #f9f9f9
}

.ux_banner .banner-bg,.ux-section .banner-bg,.ux-section .bg-overlay,.ux_banner .bg-overlay,.ux-section-img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.ux_banner .bg-overlay {
    z-index: 2
}

.ux_banner .banner-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    background-color: transparent
}

.ux_banner.full-height {
    min-height: 100vh
}

.ux_banner .row {
    position: relative;
    height: 100%;
    z-index: 2;
    max-width: 67.5em !important;
    margin-left: auto !important;
    margin-right: auto !important
}

.ux-section {
    position: relative;
    overflow: hidden
}

.ux-section.dark {
    background-color: #000000
}

.ux-section .banner-bg.ux_parallax,.ux_banner .banner-bg.ux_parallax {
    background-attachment: scroll !important;
    opacity: 0
}

.ux-section .ux-section-content {
    z-index: 10;
    position: relative
}

#content .slider .ux-section {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.ux-section-img {
    left: auto;
    right: 0;
    width: 50%;
    background-position: bottom left;
    background-size: auto 100%
}

.ux-section-img img {
    display: none
}

.ux-section-img.left {
    right: auto;
    left: 0;
    background-position: bottom right
}

.ux-section-img.top,.ux-section-img.bottom {
    position: relative;
    width: 100% !important
}

.ux-section-img.top {
    margin-bottom: 30px;
    background-position: top center
}

.ux-section-img.bottom {
    margin-top: 30px;
    background-position: bottom center
}

.ux-section-img.bottom img,.ux-section-img.top img {
    display: block;
    margin: 0 auto;
    visibility: hidden;
    width: 100%;
    max-width: 67.5em
}

.ux-section.has-img-top {
    padding-top: 0 !important
}

.ux-section.has-img-bottom {
    padding-bottom: 0 !important
}

.ux_parallax.parallax-active {
    opacity: 1
}

.parallax_img_inner {
    opacity: 0
}

.ux-bg-title {
    text-align: center;
    position: relative;
    bottom: -26px;
    z-index: 99
}

.ux-bg-title span {
    color: #627f9a;
    font-size: 80%;
    display: inline-block;
    background: #ffffff;
    text-transform: uppercase;
    padding: 5px 15px;
    border: 2px solid #627f9a
}

.text-center .button {
    margin: 10px 5px 10px
}

.text-right .button {
    margin: 10px 0 10px 10px
}

.text-left .button {
    margin: 10px 10px 10px 0
}

.ux_banner .center,.ux-text-overlay .text-vertical-center {
    bottom: 50% !important;
    top: auto !important;
    text-align: center;
    -webkit-transform: translateY(50%) !important;
    -ms-transform: translateY(50%) !important;
    transform: translateY(50%) !important
}

.ux_banner .center.bottom,.ux_banner .center.top {
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important
}

.ux_banner .inner {
    white-space: normal;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto
}

.ux_banner .inner.left {
    left: 10%;
    right: auto;
    text-align: left
}

.ux_banner .inner.far-left {
    left: 20px;
    right: auto;
    text-align: left
}

.ux_banner .inner.right {
    left: auto;
    right: 10%;
    text-align: right
}

.ux_banner .inner.far-right {
    left: auto;
    right: 20px;
    text-align: right
}

.ux_banner .inner.top {
    top: 12% !important;
    margin: 0 auto !important;
    bottom: auto !important
}

.ux_banner .inner.bottom {
    bottom: 12% !important;
    margin: 0 auto !important;
    top: auto !important
}

.ux_banner .inner.far-bottom {
    bottom: 0 !important;
    top: auto !important
}

.ux_banner .inner.far-top {
    top: 0 !important;
    bottom: auto !important
}

.ux_banner .inner.full-width {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important
}

.ux_banner .center .tx-div,.ux_banner .center p {
    margin: 0 auto;
    max-width: 90%
}

.ux_banner .left .tx-div,.ux_banner .left p,.ux_banner .far-left .tx-div,.ux_banner .far-left p {
    margin: 0 auto 0 0;
    max-width: 90%
}

.ux_banner .right .tx-div,.ux_banner .far-right .tx-div,.ux_banner .right p,.ux_banner .far-right p {
    margin: 0 0 0 auto;
    max-width: 90%
}

.ux_banner .text-center .tx-div,.ux_banner .text-center p {
    margin: 0 auto;
    max-width: 90%
}

.ux_banner .text-left .tx-div,.ux_banner .text-left p {
    margin: 0 auto 0 0;
    max-width: 90%
}

.ux_banner .text-right .tx-div,.ux_banner .text-right p {
    margin: 0 0 0 auto;
    max-width: 90%
}

.ux_banner .tx-div {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.ux_banner .social-icons {
    margin-top: 10px;
    margin-bottom: 10px
}


//
// BLOG
// ----------------------------------------------------


h1.entry-title {
    margin: 0 0 5px;
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

.page-left-sidebar .page-inner {
    padding-left: 30px;
    border-left: 1px solid #eeeeee
}

.page-right-sidebar .page-inner {
    padding-right: 30px;
    border-right: 1px solid #eeeeee
}

.page-no-sidebar>.row {
    max-width: 900px
}

.page-no-sidebar.blog-pinterest>.row {
    max-width: 67.5em
}

.entry-header {
    margin-bottom: 30px
}

h1.entry-title {
    margin: 0 0 5px;
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

.type-page h1.entry-title,
.search-results .text-center h1.entry-title {
    margin-bottom: 30px;
    text-transform: uppercase
}

.type-page .text-center h1.entry-title,
.search-results .text-center h1.entry-title {
    margin-bottom: 15px;
    text-transform: uppercase
}

.page .parallax-title {
    margin-bottom: 30px
}


.entry-image {
    position: relative;
    margin: 10px 0 15px
}

.entry-image img {
    width: 100%;
    height: auto;
}

.entry-image .post-date,
.ux-box .post-date {
    font-size: 17px;
    line-height: 14px;
    position: absolute;
    top: 40px;
    left: -10px;
    width: 55px;
    height: 55px;
    background: #ffffff;
    padding-top: 11px;
    border-width: 2px;
    z-index: 1
}

.column-slider .ux-box .post-date {
    left: 0
}

.entry-meta span.divider {
    opacity: .5;
    margin: 0 5px
}

.entry-meta-footer {
    border-top: 1px dotted #DDD;
    border-bottom: 3px solid #DDD;
    padding: 15px 0;
    overflow: hidden
}

body.archive h1.page-title,
body.search-results h1.page-title {
    font-size: 120%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #777777
}


.post-date {
    pointer-events: none;
    border: 2px solid #627f9a;
    margin-right: 10px;
    text-align: center;
    font-size: 70%;
    padding: 3px 3px;
    color: #627f9a;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase
}


.post-date .post-date-day {
    display: block
}

.post-date .post-date-month {
    font-weight: normal;
    font-size: 80%
}

.post-item:hover .post-date {
    background: #627f9a;
    color: #ffffff
}

.author-box {
    padding: 30px 0;
    border-bottom: 1px solid #DDD
}

.author-box p {
    font-size: 80%
}

.author-box .author-name {
    margin: 0
}

.author-box .author-title {
    text-transform: uppercase
}

@media only screen and (min-width: 48em){
  h1,h2,h3,h4,h5,h6{
    line-height:1.4
  }
  h1{
    font-size:1.625em
  }
  h2{
    font-size:1.5em
  }
  h3{
    font-size:1.25em
  }
  h4{
    font-size:1.125em
  }
}

h1,h2,h3,h4,h5,h6{
  font-family:"Helvetica",Helvetica,Arial,sans-serif;
  font-weight:bold;
  font-style:normal;
  color:#555;
  text-rendering:optimizeLegibility;
  margin-top:0.2em;
  margin-bottom:0.5em;
  line-height:1.2125em;
}

article.post {
  margin-bottom: 80px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ccc;
}

.entry-meta {
    font-size: 90%;
    padding: 10px 0
}

articlefooter.entry-meta {
  padding-top: 20px;
  margin-top: 50px;
  display: block;
  width: 100%;
  border-top: 1px solid #eee;
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.top-bar-nav a.nav-top-link, 
body, 
p, 
#top-bar, 
.cart-inner .nav-dropdown, 
.nav-dropdown {
    font-family: Lato,helvetica,arial,sans-serif!important;
}


article p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
    margin: 0 0 10px;
}
article ul {
  margin-top: 5px;
  margin-bottom: 15px;
}
article li {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
    margin: 0;
}

.page-right-sidebar .page-inner {
    padding-right: 30px;
    border-right: 1px solid #eeeeee;
}

//
// likes
// ----------------------------------------------------
@import "like-button.less";






//
// sidebar
// ----------------------------------------------------

.widget {
    margin-bottom: 30px;
}

.widget-title {
    text-transform: uppercase;
    font-size: 95%;
}

.widget .tx-div {
    margin-bottom: 20px;
}

.tx-div.small {
    width: 30px;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget ul li:first-child {
    padding-top: 0;
}

.widget ul li {
    line-height: 120%;
    list-style: none;
}

.flatsome_recent_posts li {
    border-bottom: 1px solid #EEE;
    position: relative;
    padding: 0 0 10px 45px;
    margin-bottom: 10px;
}

.flatsome_recent_posts .post-date {
    position: absolute;
    left: 0;
    top: 5px;
    width: 30px;
}

.slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .ux-header-element a:hover, .featured-table.ux_price_table, .text-bordered-primary, .callout.style3 .inner, ul.page-numbers li > span, .add-to-cart-grid .cart-icon strong, .add-to-cart-grid .cart-icon-handle, .add-to-cart-grid.loading .cart-icon strong, .navigation-paging a, .navigation-image a, ul.page-numbers a, ul.page-numbers a:hover, .post.sticky, .widget_product_tag_cloud a, .widget_tag_cloud a, .next-prev-nav .prod-dropdown > a:hover, .iosSlider .sliderNav a:hover span, .column-slider .sliderNav a:hover, .woocommerce .order-review, .woocommerce-checkout form.login, .button, button, li.mini-cart .cart-icon strong, li.mini-cart .cart-icon .cart-icon-handle, .post-date {
    border-color: #627f9a;
}

.alt-button.primary, .callout.style3 .inner .inner-text, .add-to-cart-grid .cart-icon strong, .tagcloud a, .navigation-paging a, .navigation-image a, ul.page-numbers a, ul.page-numbers li > span, #masthead .mobile-menu a, .alt-button, #logo a, li.mini-cart .cart-icon strong, .widget_product_tag_cloud a, .widget_tag_cloud a, .post-date, #masthead .mobile-menu a.mobile-menu a, .checkout-group h3, .order-review h3 {
    color: #627f9a;
}

.post-date {
    pointer-events: none;
    border: 2px solid #627f9a;
    margin-right: 10px;
    text-align: center;
    font-size: 70%;
    padding: 3px 3px;
    color: #627f9a;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
}

.show-first, .show-next, .ux-box .ux-box-text, .widget_product_tag_cloud a, .product_list_widget li a, .widget_tag_cloud a, .widget_layered_nav_filters .chosen a, .ux_logo a, .ux-header-element a, .iosSlider .sliderNav a span, .iosSlider .sliderNav a, .product-page-aside .product, .post-date, .featured_item_text, ul.pinterest-style, .blog-pinterest-style article.type-post, .blog-pinterest-style article.hentry, .cat-count, .cat-title, .cart-icon strong, .cart-icon-handle, strong.cart-name, span.cart-price, .back-image img, .quick-view, .yith-wcwl-add-to-wishlist a, ul.header-nav li a {
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.post-date .post-date-day {
    display: block;
}

.post-date .post-date-month {
    font-weight: normal;
    font-size: 80%;
}

.flatsome_recent_posts li a {
    padding-bottom: 0;
}

.widget li a {
    padding-bottom: 5px;
    display: block;
}

.flatsome_recent_posts .post_comments {
    font-size: 80%;
    display: block;
    margin-top: 5px;
}

.flatsome_recent_posts li a {
    padding-bottom: 0;
}

.widget li a {
    padding-bottom: 5px;
    display: block;
}

.widget_recent_comments li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}
.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}
>>>>>>> dc4aea470574950f262b68cb398eb9537285a3e8

h1,h2,h3,h4,h5,h6{
  font-family:"Helvetica",Helvetica,Arial,sans-serif;
  font-weight:bold;
  font-style:normal;
  color:#555;
  text-rendering:optimizeLegibility;
  margin-top:0.2em;
  margin-bottom:0.5em;
  line-height:1.2125em;
}

article.post {
  margin-bottom: 80px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ccc;
}

.entry-meta {
    font-size: 90%;
    padding: 10px 0
}

articlefooter.entry-meta {
  padding-top: 20px;
  margin-top: 50px;
  display: block;
  width: 100%;
  border-top: 1px solid #eee;
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.top-bar-nav a.nav-top-link, 
body, 
p, 
#top-bar, 
.cart-inner .nav-dropdown, 
.nav-dropdown {
    font-family: Lato,helvetica,arial,sans-serif!important;
}


article p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
    margin: 0 0 10px;
}
article ul {
  margin-top: 5px;
  margin-bottom: 15px;
}
article li {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
    margin: 0;
}

.page-right-sidebar .page-inner {
    padding-right: 30px;
    border-right: 1px solid #eeeeee;
}

//
// likes
// ----------------------------------------------------
@import "like-button.less";






//
// sidebar
// ----------------------------------------------------

.widget {
    margin-bottom: 30px;
}

.widget-title {
    text-transform: uppercase;
    font-size: 95%;
}

.widget .tx-div {
    margin-bottom: 20px;
}

.tx-div.small {
    width: 30px;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget ul li:first-child {
    padding-top: 0;
}

.widget ul li {
    line-height: 120%;
    list-style: none;
}

.flatsome_recent_posts li {
    border-bottom: 1px solid #EEE;
    position: relative;
    padding: 0 0 10px 45px;
    margin-bottom: 10px;
}

.flatsome_recent_posts .post-date {
    position: absolute;
    left: 0;
    top: 5px;
    width: 30px;
}

.slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .ux-header-element a:hover, .featured-table.ux_price_table, .text-bordered-primary, .callout.style3 .inner, ul.page-numbers li > span, .add-to-cart-grid .cart-icon strong, .add-to-cart-grid .cart-icon-handle, .add-to-cart-grid.loading .cart-icon strong, .navigation-paging a, .navigation-image a, ul.page-numbers a, ul.page-numbers a:hover, .post.sticky, .widget_product_tag_cloud a, .widget_tag_cloud a, .next-prev-nav .prod-dropdown > a:hover, .iosSlider .sliderNav a:hover span, .column-slider .sliderNav a:hover, .woocommerce .order-review, .woocommerce-checkout form.login, .button, button, li.mini-cart .cart-icon strong, li.mini-cart .cart-icon .cart-icon-handle, .post-date {
    border-color: #627f9a;
}

.alt-button.primary, .callout.style3 .inner .inner-text, .add-to-cart-grid .cart-icon strong, .tagcloud a, .navigation-paging a, .navigation-image a, ul.page-numbers a, ul.page-numbers li > span, #masthead .mobile-menu a, .alt-button, #logo a, li.mini-cart .cart-icon strong, .widget_product_tag_cloud a, .widget_tag_cloud a, .post-date, #masthead .mobile-menu a.mobile-menu a, .checkout-group h3, .order-review h3 {
    color: #627f9a;
}

.post-date {
    pointer-events: none;
    border: 2px solid #627f9a;
    margin-right: 10px;
    text-align: center;
    font-size: 70%;
    padding: 3px 3px;
    color: #627f9a;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
}

.show-first, .show-next, .ux-box .ux-box-text, .widget_product_tag_cloud a, .product_list_widget li a, .widget_tag_cloud a, .widget_layered_nav_filters .chosen a, .ux_logo a, .ux-header-element a, .iosSlider .sliderNav a span, .iosSlider .sliderNav a, .product-page-aside .product, .post-date, .featured_item_text, ul.pinterest-style, .blog-pinterest-style article.type-post, .blog-pinterest-style article.hentry, .cat-count, .cat-title, .cart-icon strong, .cart-icon-handle, strong.cart-name, span.cart-price, .back-image img, .quick-view, .yith-wcwl-add-to-wishlist a, ul.header-nav li a {
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.post-date .post-date-day {
    display: block;
}

.post-date .post-date-month {
    font-weight: normal;
    font-size: 80%;
}

.flatsome_recent_posts li a {
    padding-bottom: 0;
}

.widget li a {
    padding-bottom: 5px;
    display: block;
}

.flatsome_recent_posts .post_comments {
    font-size: 80%;
    display: block;
    margin-top: 5px;
}

.flatsome_recent_posts li a {
    padding-bottom: 0;
}

.widget li a {
    padding-bottom: 5px;
    display: block;
}

.widget_recent_comments li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}
.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

